body {
    background-image: url("/assets/img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img {
    display: none;
}

#game {
    background-color: #7e8f85;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 362px;
    height: 458px;
}